<h1>Link to your dashboard</h1>
<%=link_to("Link to your dashboard",:action =>'show',:id =>@member.id.to_s)%>

<h1>THESE ARE THE BOOKS THAT ARE CHECKED OUT AND NOT CHECKED IN</h1>
	<table class="table">
	<tr>
		
		<th>title</th>
		<th>authors</th>
		<th>description</th>
		<th>isbn</th>
		<th>ISSUED AT</th>
		<th>CHECKIN</th>
		
	</tr>
   <%@array.each do |f| %>

	<tr>
	<td><%=f.title %></td>
	<td><%=f.authors %></td>
	<td><%=f.description %></td>
	<td><%=f.isbn %></td>
	<td><%=f.created_at %></td>
		<td><%=link_to("checkin",:controller =>'books',:action => 'checkin',:email => @member.email,:id => f.id.to_s)%></td>
	</tr>
	<% end %>
	</table>
	
<h1>THESE ARE THE BOOKS THAT ARE CHECKED OUT IN PAST</h1>
<table class="table">
	<tr>
		
		<th>title</th>
		<th>authors</th>
		<th>description</th>
		<th>isbn</th>
		
		
	</tr>

	<%@find1.each do |f| %>
	<tr>
	<td><%=f.title %></td>
	<td><%=f.authors %></td>
	<td><%=f.description %></td>
	<td><%=f.isbn %></td>
	
	</tr>
	<% end %>
    </table>