<h3>Back to List</h3>
<%=link_to( "Back to List" ,:controller => 'admin',:action => 'index')%>
<div class="row">

	<div class="col-md-6 col-md-offset-1">
<h1>suggest book form</h1>

<%= form_for(:suggest ,:url=> {:controller =>'admin',:action => 'createsuggestion',:id =>@suggest.id}) do |f| %>
<%= hidden_field_tag(:email, @admin.email) %>
<table>
<tr>
<td>isbn</td>
<td><%= f.text_field(:isbn) %></td>
</tr>
<tr>
<td>title</td>
<td><%= f.text_field(:title) %></td>
</tr>
<tr>
<td>AUTHOR</td>
<td><%= f.text_field(:authors) %></td>
</tr>
<tr>
<td>description</td>
<td><%= f.text_field(:description)%></td>
</tr>
<tr>
<td>
<%=submit_tag("Add book") %> </td>
</tr>
</table>
<% end %>
</div>
</div>
