<% if !flash[:notice].blank? %>
<div class="notice">
	<%= flash[:notice] %>
</div>
<% end %>
<h1>Link to back</h1>
<%=link_to("Link manage members ",:action =>'indexmember',:email => @admin.email)%>
<h1>THESE ARE THE BOOKS THAT ARE CHECKED OUT AND NOT CHECKED IN</h1>
	<table class="table">
	<tr>
		
		<th>title</th>
		<th>authors</th>
		<th>description</th>
		<th>isbn</th>
		<th>ISSUED AT</th><th>checkin</th>
		
	</tr>
   <%@array.each do |f| %>

	<tr>
	<td><%=f.title %></td>
	<td><%=f.authors %></td>
	<td><%=f.description %></td>
	<td><%=f.isbn %></td>
	<td><%=f.created_at %></td>
	<td><%= link_to("checkin",:controller =>'admin',:action =>'checkinmember',:id =>f.id.to_s,:email =>@admin.email ) %>%></td>
	</tr>
	<% end %>
	</table>
	
<h1>THESE ARE THE BOOKS THAT ARE CHECKED OUT IN PAST</h1>
<table class="table">
	<tr>
		
		<th>title</th>
		<th>authors</th>
		<th>description</th>
		<th>isbn</th>
		
		
	</tr>

	<%@find1.each do |f| %>
	<tr>
	<td><%=f.title %></td>
	<td><%=f.authors %></td>
	<td><%=f.description %></td>
	<td><%=f.isbn %></td>
	
	</tr>
	<% end %>
    </table>