<h1>Admin#hello</h1>
<p>Find me in app/views/admin/hello.html.erb</p>
<%= 1+1 %>
<br/>
<%@array.each do |n| %>
<%=n%><br />

<%end%>
<br/>
ID:  <%=params['id'] %></br>
ID:  <%=@id %></br>
<hr>
<%=params.inspect %>
<%=params['id'] %>