<h3>Back to dashboard</h3>
<%=link_to( "Back to Dashboard" ,:controller => 'admin',:action => 'index')%>



<h1>Table of members</h1>

<table class="table">
	<tr>
		
		<th>First name</th>
		<th>Last name</th>
		<th>Email</th>
		
	</tr>
	<%@members.each do |member| %>
	<tr>
	<td><%=member.first_name%></td>
	<td><%=member.Last_name %></td>
	<td><%=member.email %></td>
	
	<td>
	<%= link_to("show",:action =>'showmember',:id =>member.id.to_s) %>
     <%= link_to("edit",:action =>'editmember',:id =>member.id.to_s ) %>
     <%= link_to("delete",:action =>'deletemember',:id =>member.id.to_s) %>
     <%= link_to("checkouthitory",:action =>'checkouthistory',:id =>member.id.to_s) %>

 </td>
     </tr>
     <% end %>
     </table>
     <h1>Add new member</h1>
     <%= link_to("Add new Library member",:action => 'newmember')%>

     