<h3>Back to dashboard</h3>
<%=link_to("Back to Dashboard" ,:controller => 'admin',:action => 'index')%>

<%=form_tag({:controller =>'admin',:action =>'search'}, :method => "get") do %>
 <div class="input-append">
<%= label_tag(:search, "Search by Title:") %>
  <%=text_field_tag(:search,params[:search],placeholder: "Search books") %>
  <select name="CATEGORIES">
  <option value="ISBN">ISBN</option>
  <option value="TITLE">TITLE</option>
  <option value="AUTHORS">AUTHORS</option>
  <option value="DESCRIPTION">DESCRIPTION</option>
  <option value="STATUS">STATUS</option>
</select>
<%=submit_tag("Search")%>

<% end %> 

<table class="table">
	<tr>
		
		<th>Title</th>
		<th>AUTHOR</th>
		<th>DESCRIPTION</th>
		<th>ISBN</th>
		<th>STATUS</th>
	</tr>
	<%@books.each do |book| %>
	<tr>
	<td><%=book.TITLE %></td>
	<td><%=book.AUTHORS %></td>
	<td><%=book.DESCRIPTION %></td>
	<td><%=book.ISBN %></td>
	<td><%=book.STATUS %></td>
	<td>
	<%= link_to("show",:action =>'show',:id =>book.id.to_s,:email =>@admin.email) %>
     <%= link_to("edit",:action =>'edit',:id =>book.id.to_s ,:email => @admin.email) %>
     <%= link_to("delete",:action =>'delete',:id =>book.id.to_s,:email => @admin.email) %>
     <%= link_to("checkouthistory",:controller =>'books',:action =>'checkouthistory',:id =>book.id.to_s) %>
     <%= link_to("checkin",:controller =>'admin',:action =>'checkin',:id =>book.id.to_s,:email =>@admin.email ) %>
 </td>
     </tr>
     <% end %>
     </table>
    <h2>Click here to add new book</h2>
     <%= link_to("Add new book",:action => 'new' ,:email =>@admin.email,class: "btn")%>



