<h3>Back to List</h3>
<%=link_to( "Back to List" ,:controller => 'books',:action => 'index',:id =>@admin.id.to_s)%>
<div class="row">

	<div class="col-md-6 col-md-offset-1">
<h1>New book form</h1>

<%= form_for(:book ,:url=> {:controller => 'books',:action => 'create'}) do |f| %>

<%= hidden_field_tag(:email, @admin.email) %>


<table>
<tr>
<td>isbn</td>
<td><%= f.text_field(:isbn) %></td>
</tr>
<tr>
<td>title</td>
<td><%= f.text_field(:title) %></td>
</tr>
<tr>
<td>AUTHOR</td>
<td><%= f.text_field(:authors) %></td>
</tr>
<tr>
<td>description</td>
<td><%= f.text_field(:description)%></td>
</tr>
<tr>
<td>status</td>
<td></td>
</tr>
<tr>
	<td>
 <select name="book[status]">
  <option value="checked_out">checked out</option>
  <option value="check_in">checked in</option>

</select>
    </td>
</tr>
<tr>
<td>
<%=submit_tag("create book") %> </td>
</tr>
</table>
<% end %>
</div>
</div>
