<h1>Table of books</h1>

<table class="table">
	<tr>
		
		<th>isbn</th>
		<th>title</th>
		<th>AUTHOR</th>
		<th>description</th>
		<th>status</th>
		<th>issuedby</th>
		<th>checkout</th>
		
	</tr>
	<%@books.each do |book| %>
	<tr>
	<td><%=book.isbn%></td>
	<td><%=book.title %></td>
	<td><%=book.authors %></td>
	<td><%=book.description %></td>
	<td><%=book.status %></td>
	<td>
	<%if book.library_member %>
	<%=book.library_member.email %>
     <%end %></td>
    
    <td>
	<%if book.status=='check_in'%>
	<%=link_to("Checkout",:controller =>'books',:action =>"checkoutbook",:id =>book.id.to_s,:email => @member.email)%>
	<% end %>
	
	</td>
     </tr>
     <% end %>
     </table>