<h3>Back to List</h3>
<%=link_to("Back to List" ,:controller => 'books',:action => 'index',:id =>@admin.id.to_s)%>
<table class="table">
	<tr>
		<th>title</th>
		<td><%=@book.title %> </td>
	</tr>
	<tr>
		<th>Author</th>
		<td><%=@book.authors %> </td>
	</tr>
	<tr>
		<th>description</th>
		<td><%=@book.description %> </td>
	</tr>
	<tr>
		<th>isbn</th>
		<td><%=@book.isbn %> </td>
	</tr>
	<tr>
		<th>status</th>
		<td><%=@book.status %> </td>
	</tr>
	</table>
